
body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a {
        text-decoration: none;
        outline: none;
        color: inherit;

      }

      h1, h2, h3, h4, h5, h6 {
          font-weight: lighter;
          color: #008896;
      }
      
      input {
        margin: 0px;
      }
#token {
  width: 14.5%;
}

#selected {
	background-color: #33ACB9;
					    border-left: solid 2px #fff;

}

.left_col {
	width: calc(0% + 250px);
	height: 100%;
	color: #FFF;
	float: left;
    background-color: #0097A7;
}

	.left_col .header{
		width: 90%;
		height: auto;
		padding: 5%;
		text-align: center;
		font-size: 2em;
          font-weight: 300;
          text-transform: uppercase;
	}

		.left_col .header > a img {
	          width: 41px;
	          margin-bottom: -10px;
	          margin-left: -6%;
	        }

	        .left_col .header > a span {
		          font-weight: light;
		          text-transform: none;
		          letter-spacing: 1px;
		        }

	.left_col .nav{
		width: 100%;
		margin-top: 28%;
		height: auto;
	}

		.left_col .nav ul{
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		}

			.left_col .nav li{
				width: 100%;
				height: auto;
			}

				.left_col .nav ul li a{
				    display: block;
				    width: calc(90% - 2px);
				    padding: 5%;
				    padding-top: 7%;
				    padding-bottom: 7%;
				    text-decoration: none;
				    color: #fff;
				}

					.left_col .nav ul li a:hover{
					    background-color: #33ACB9;
					    border-left: solid 2px #fff;
						  transition: background-color 0.8s;
						      -webkit-transition:background-color .8s;
						          -moz-transition: background-color 0.8s;
					}




.right_col{
	width: calc(100% - 250px);
	float: left;
	height: 100%;
	color: #FFF;
}

	.right_col .content{
		width: 90%;
		padding: 5%;
		height: auto;
	}

.change {
	width: 5%;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #878786;
  cursor: pointer;
  text-align: center;
  color: #FFF;
}

.change:hover {
  background-color: #4B4B4A;
  transition: background-color 0.8s;
           -webkit-transition:background-color .8s;
            -moz-transition: background-color 0.8s;
}
