html, body {
        height: 400;
        width: 325;
        padding: -2px;
        margin: 0px;
        text-align: center;
        background-color: #FFF;
      }

      a {
        text-decoration: none;
        outline: none;
        color: inherit;

      }

      h1, h2, h3, h4, h5, h6 {
          font-weight: lighter;
          color: #008896;
      }
      input {
        margin: 0px;
      }

      .header {
        padding: 5%;
        width: 90%;
        height: auto;
        color: #FFF;
        background-color: #0097A7;
        border-top: 1px solid #FFF;
        font-size: 2em;
          font-weight: 300;
          text-transform: uppercase;
      }

        .header > a img {
          width: 41px;
          margin-bottom: -10px;
          margin-left: -1%;
        }

        .header > a span {
          font-weight: light;
          text-transform: none;
          letter-spacing: 1px;
        }

      .content {
        width: 80%;
        padding: 10%;
        padding-top: 5%;
        height: 100%;
        height: auto;
        text-align: left;
      }

        .token{
          width: 100%;
        }

      .running {
          width: 90%;
          position: absolute;
          bottom: 7%;
        }

      #input-token {
        width: 100%;
        padding: 3%;
        background-color: #FCFEFE;
        border: 1px solid #0097A7;
        display: block;
      }

      .input-start {
        width: 83%;
        padding: 3.2%;
        padding-top: 5%;
        padding-bottom: 5%;
        border: 1px solid #0097A7;
        background-color: #008896;
        font-size: 1.1em;
          color: #fff;
          text-align: center;
      }

      .input-stop {
        width: 83%;
        padding: 3.2%;
        padding-top: 5%;
        padding-bottom: 5%;
        border: 1px solid #0097A7;
        background-color: #008896;
          font-size: 1.1em;
          color: #fff;
          text-align: center;
        display: none;
        visibility: hidden;
      }

        .input-start:hover {
          background-color: #00424A;
          cursor: pointer;
          transition: background-color 0.8s;
           -webkit-transition:background-color .8s;
            -moz-transition: background-color 0.8s;
        }

        .input-stop:hover {
          background-color: #14818D;
          cursor: pointer;
          transition: background-color 0.8s;
           -webkit-transition:background-color .8s;
            -moz-transition: background-color 0.8s;
        }

.option {
  width: 40%;
  margin: auto;
  padding: 5%;
  background-color: #878786;
  cursor: pointer;
  text-align: center;
  color: #FFF;
}

.option:hover {
  background-color: #4B4B4A;
  transition: background-color 0.8s;
           -webkit-transition:background-color .8s;
            -moz-transition: background-color 0.8s;
}